/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

@font-face {
  font-family: 'Buttergone';
  src: url('../assets/fonts/buttergone-brush.woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cartograph CF';
  src: url('../assets/fonts/CartographCF-Regular.woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Olivia Nineties';
  src: url('../assets/fonts/tbj-olivia-nineties-demo.reg.woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-beige: #F7EDE3;
  --color-black: #000;
  --color-dark-green: #4A5E53;
  --color-light-green: #ABB18F;
  --color-pink: #F2BCC9;
  --color-white: #FFF;
}

body {
  background: var(--color-beige);
  color: var(--color-black);
  font-family: 'Cartograph CF', monospace;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

img {
  width: 4rem;
}

a {
  color: var(--color-black);
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/
.navbar {
  align-items: stretch;
  background: var(--color-beige);
  border-bottom: 0.125rem solid var(--color-black);
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 0 2.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.nav-left {
  align-items: center;
  display: flex;
}

.nav-logo {
  align-items: center;
  border-right: 0.075rem solid var(--color-black);
  display: flex;
  font-size: 3rem;
  height: 100%;
  padding: 2rem 1.25rem 2rem 0;
}

.nav-left span {
  font-size: 2rem;
}

.script-font {
  font-family: 'Buttergone', sans-serif;
}

.serif-font {
  font-family: 'Olivia Nineties', serif;
}

.nav-links {
  align-items: center;
  display: flex;
  gap: 2rem;
  padding: 0 0 0 2rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-right {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.nav-socials {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
}

.nav-socials img {
  width: 1.75rem;
}

.nav-cta {
  background: var(--color-pink);
  border: 0.075rem solid var(--color-black);
  margin: 0 0 0 1.5rem;
  padding: 1rem 2.5rem;
  transition: all 0.4s ease-in-out;
}

.nav-cta:hover {
  background: var(--color-light-green);
}

.nav-burger {
  align-items: center;
  display: none;
  flex-direction: column;
  gap: 0.75rem;
  height: 2rem;
  justify-content: center;
}

.nav-burger span {
  background: var(--color-pink);
  height: 0.15rem;
  transition: transform 0.4s ease-in-out;
  transform-origin: center;
  width: 2.75rem;
}

.nav-burger.active .top {
  transform: translateY(0.45rem) rotate(45deg);
}

.nav-burger.active .bottom {
  transform: translateY(-0.45rem) rotate(-45deg);
}

.nav-menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  justify-content: center;
  height: 100vh;
  left: 0;
  position: fixed;
  top: -100vh;
  transition: all 0.6s ease-in-out;
  width: 100%;
  z-index: 998;
}

.nav-menu.active {
  top: 0;
}

@media screen and (max-width: 800px) {
  .navbar {
    border-bottom: 0.1rem solid var(--color-black);
    padding: 0 1.5rem;
  }
  .nav-logo {
    border: none;
    padding: 1.25rem 0;
  }
  .nav-links, .nav-socials, .nav-cta {
    display: none;
  }
  .nav-menu .nav-links, .nav-menu .nav-socials, .nav-menu .nav-cta {
    display: flex;
  }
  .nav-burger {
    display: flex;
  }
  .nav-menu .nav-links {
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: flex-end;
    padding: 0;
  }
  .nav-menu .nav-socials {
    justify-content: center;
  }
  .nav-menu .nav-cta {
    align-items: center;
    justify-content: center;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
