/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

@font-face {
  font-family: 'Buttergone';
  src: url('../assets/fonts/buttergone-brush.woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cartograph CF';
  src: url('../assets/fonts/CartographCF-Regular.woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Olivia Nineties';
  src: url('../assets/fonts/tbj-olivia-nineties-demo.reg.woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-beige: #F7EDE3;
  --color-black: #000;
  --color-dark-green: #4A5E53;
  --color-light-green: #ABB18F;
  --color-pink: #F2BCC9;
  --color-white: #FFF;
}

body {
  background: var(--color-beige);
  color: var(--color-black);
  font-family: 'Cartograph CF', monospace;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p, div, section, ul, li {
  margin: 0;
  padding: 0;
}

img {
  width: 4rem;
}

a {
  color: var(--color-black);
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/
.navbar {
  align-items: stretch;
  background: var(--color-beige);
  border-bottom: 0.125rem solid var(--color-black);
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 0 2.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.nav-left {
  align-items: center;
  display: flex;
}

.nav-logo {
  align-items: center;
  border-right: 0.075rem solid var(--color-black);
  display: flex;
  font-size: 3rem;
  height: 100%;
  padding: 1.5rem 1.25rem 1.5rem 0;
}

.nav-left span {
  font-size: 2rem;
}

.script-font {
  font-family: 'Buttergone', sans-serif;
}

.serif-font {
  font-family: 'Olivia Nineties', serif;
}

.nav-links {
  align-items: center;
  display: flex;
  gap: 2rem;
  padding: 0 0 0 2rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-right {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.nav-socials {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
}

.nav-socials img {
  width: 1.75rem;
}

.nav-cta {
  background: var(--color-pink);
  border: 0.075rem solid var(--color-black);
  margin: 0 0 0 1.5rem;
  padding: 0.9rem 2.5rem;
  transition: all 0.4s ease-in-out;
}

.nav-cta:hover {
  background: var(--color-light-green);
}

.nav-burger {
  align-items: center;
  display: none;
  flex-direction: column;
  gap: 0.75rem;
  height: 2rem;
  justify-content: center;
}

.nav-burger span {
  background: var(--color-pink);
  height: 0.15rem;
  transition: transform 0.4s ease-in-out;
  transform-origin: center;
  width: 2.75rem;
}

.nav-burger.active .top {
  transform: translateY(0.45rem) rotate(45deg);
}

.nav-burger.active .bottom {
  transform: translateY(-0.45rem) rotate(-45deg);
}

.nav-menu {
  align-items: center;
  background: var(--color-beige);
  border-bottom: 0.125rem solid var(--color-black);
  display: flex;
  flex-direction: column;
  gap: 9rem;
  justify-content: flex-end;
  height: 100vh;
  left: 0;
  position: fixed;
  top: -100vh;
  transition: all 0.6s ease-in-out;
  width: 100%;
  z-index: 998;
}

.nav-menu.active {
  top: 0;
}

@media screen and (max-width: 800px) {
  .navbar {
    border-bottom: 0.1rem solid var(--color-black);
    padding: 0 1.5rem;
  }
  .nav-logo {
    border: none;
    padding: 1.25rem 0;
  }
  .nav-links, .nav-socials, .nav-cta {
    display: none;
  }
  .nav-menu .nav-links, .nav-menu .nav-socials {
    display: flex;
  }
  .nav-burger {
    display: flex;
  }
  .nav-menu .nav-links {
    align-items: center;
    flex-direction: column;
    gap: 1.75rem;
    justify-content: flex-end;
    padding: 0;
  }
  .nav-menu .nav-socials {
    justify-content: center;
    margin: 0 0 2rem 0;
  }
  .nav-menu .nav-cta {
    display: inline-block;
    margin: 0 auto 6rem auto;
    padding: 0.55rem 3.75rem;
  }
}


/* HOME SECTION */

.home-section {
  border-bottom: 0.125rem solid var(--color-black);
}

.home-top {
  background-image: url('../assets/images/home-bg.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 11.5rem 10rem 5rem 15rem;
}

.home-top h1 {
  color: var(--color-white);
  font-family: 'Olivia Nineties', serif;
  font-size: 5rem;
  font-weight: 500;
  line-height: 100%;
}

.home-top h1 span {
  font-family: 'Buttergone', sans-serif;
}

.home-middle {
  background: var(--color-light-green);
  border-bottom: 0.125rem solid var(--color-black);
  border-top: 0.125rem solid var(--color-black);
  height: 1.3rem;
}

.home-bottom-content {
  border-left: 0.125rem solid var(--color-black);
  border-right: 0.125rem solid var(--color-black);
  height: 100%;
  margin: 0 auto;
  padding: 2rem 2rem 2rem 2rem;
  text-align: center;
  width: 52.5%;
}

.home-heading-2 {
  font-family: 'Olivia Nineties', serif;
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 100%;
  margin: 0 0 1.25rem 0;
}

.home-section-paragraph {
  font-size: 1.15rem;
  margin: 0 0 1rem 0;
}

.green-span {
  color: var(--color-light-green);
  font-weight: 700;
}

.section-cta {
  border: 0.075rem solid var(--color-black);
  display: inline-block;
  margin: 1.5rem 0 0 0;
  padding: 0.7rem 3.5rem;
  transition: all 0.4s ease-in-out;
}

.home-section .section-cta {
  background: var(--color-pink);
}

.home-section .section-cta:hover {
  background: var(--color-light-green);
}

@media screen and (max-width: 800px) {
  .home-top {
    padding: 10rem 0 5rem 2.5rem;
  }
  .home-top h1 {
    font-size: 2.5rem;
  }
  .home-bottom-content {
    padding: 2.5rem 1.5rem 2rem 1.5rem;
    width: 100%;
  }
  .home-heading-2 {
    font-size: 2.15rem;
  }
  .home-section-paragraph {
    font-size: 1rem;
  }
  .green-span {
    font-size: 0.8rem;
  }
}


/* SERVICES SECTION */

.services-section {
  align-items: center;
  background: var(--color-light-green);
  border-bottom: 0.125rem solid var(--color-black);
  display: flex;
  justify-content: space-between;
  padding: 4.5rem 6rem 5rem 6rem;
}

.services-left {
  padding: 0 8rem 0 0;
  width: 50%;
}

.heading-2 {
  font-family: 'Olivia Nineties', sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
}

.services-section .heading-2 {
  color: var(--color-beige);
}

.section-paragraph {
  font-size: 1.15rem;
  margin: 0 0 1rem 0;
}

.services-section .section-cta {
  background: var(--color-beige);
}

.services-section .section-cta:hover {
  background: var(--color-pink);
}

.services-right {
  align-items: center;
  display: flex;
  gap: 1.05rem;
  justify-content: flex-end;
  width: 50%;
}

.service-item {
  text-align: center;
  width: 33.333%;
}

.service-item div {
  align-items: center;
  background: var(--color-beige);
  border: 0.125rem solid var(--color-black);
  display: flex;
  justify-content: center;
  height: 12.5rem;
  margin: 0 0 1rem 0;
  padding: 0 0.8rem;
  transition: all 0.4s ease-in-out;
}

.service-item div:hover {
  background: var(--color-pink);
}

.service-item p {
  font-size: 0.9rem;
}

.service-item h3 {
  color: var(--color-beige);
  font-family: 'Olivia Nineties', serif;
  font-size: 1.8rem;
  font-weight: 400;
}

.services-rule {
  background: var(--color-pink);
  border-bottom: 0.125rem solid var(--color-black);
  height: 1.3rem;
}

@media screen and (max-width: 800px) {
  .services-section {
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 2.25rem 3.5rem 2.25rem;
  }
  .services-left {
    padding: 0;
    width: 100%;
  }
  .heading-2 {
    font-size: 3rem;
  }
  .section-paragraph {
    font-size: 1.05rem;
    margin: 0 0 0.5rem 0;
  }
  .services-right {
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
    width: 100%;
  }
  .section-cta {
    font-size: 1rem;
  }
  .services-section .section-cta {
    padding: 0.6rem 2rem;
  }
  .service-item {
    width: 75%;
  }
  .service-item div {
    height: 7.5rem;
    margin: 0 0 0.5rem 0;
    padding: 0 1rem;
  }
  .service-item h3 {
    font-size: 2rem;
  }
}


/* GALLERY SECTION */

.gallery-section {
  border-bottom: 0.125rem solid var(--color-black);
  padding: 3rem 6rem 3.5rem 6rem;
  text-align: center;
}

.gallery-row {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin: 0 0 1rem 0;
  width: 100%;
}

.gallery-row img {
  height: 17.5rem;
  width: calc(25% - 0.75rem);
}

@media screen and (max-width: 800px) {
  .gallery-section {
    padding: 3.5rem 2.25rem 4rem 2.25rem;
  }
  .gallery-section .heading-2 {
    font-size: 4rem;
  }
  .gallery-row {
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0 0 0.5rem 0;
  }
  .gallery-row img {
    height: 12.5rem;
    width: calc(50% - 0.25rem);
  }
}


/* ABOUT SECTION */

.about-banner {
  background: var(--color-dark-green);
  border-bottom: 0.125rem solid var(--color-black);
}

.about-banner ul {
  align-items: center;
  display: flex;
  gap: 0.75rem;
  justify-content: space-between;
  list-style: none;
  padding: 0.8rem 0.5rem;
}

.about-banner li {
  color: var(--color-beige);
  font-size: 0.9rem;
}

.about-section {
  border-bottom: 0.125rem solid var(--color-black);
  display: flex;
}

.about-left {
  width: 35%;
}

.about-left img {
  height: 100%;
  width: 100%;
}

.about-right {
  padding: 4.5rem 3.5rem 4.75rem 4rem;
  width: 65%;
}

.about-right .heading-2 {
  font-size: 2.75rem;
  margin: 0;
}

.about-right .heading-2.script-font {
  font-family: 'Buttergone', sans-serif;
  font-size: 3.5rem;
  margin: 0 0 2.5rem 0;
}

.about-right .section-cta {
  background: var(--color-light-green);
}

.about-right .section-cta:hover {
  background: var(--color-pink);
}

@media screen and (max-width: 800px) {
  .about-banner li.desktop {
    display: none;
  }
  .about-banner li {
    font-size: 0.6rem;
  }
  .about-section {
    flex-direction: column;
  }
  .about-left {
    width: 100%;
  }
  .about-right {
    padding: 2rem 2.25rem 4.5rem 2.25rem;
    width: 100%;
  }
  .about-right .heading-2 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem 0;
  }
  .about-right .heading-2.script-font {
    font-size: 3.25rem;
    margin: 0 0 2rem 0;
  }
  .about-right .section-paragraph {
    font-size: 0.95rem;
    margin: 0 0 1.15rem 0;
  }
}


/* REVIEWS SECTION */

.reviews-section {
  background: var(--color-dark-green);
  border-bottom: 0.125rem solid var(--color-black);
  padding: 4rem 6rem 4rem 6rem;
}

.reviews-section .heading-2 {
  color: var(--color-beige);
  margin: 0 0 3.5rem 0;
}

.review-gallery {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  margin: 0 0 2.5rem 0;
}

.review-item {
  align-items: center;
  background: var(--color-beige);
  border: 0.125rem solid var(--color-black);
  display: flex;
  justify-content: center;
  height: 23.5rem;
  padding: 0 1.75rem;
  text-align: center;
  width: calc(33.33% - 0.5rem);
}

.reviews-section .section-cta {
  background: var(--color-pink);
  display: block;
  margin: 0 auto;
  text-align: center;
  width: max-content;
}

.reviews-section .section-cta:hover {
  background: var(--color-light-green);
}

@media screen and (max-width: 800px) {
  .reviews-section {
    padding: 3.25rem 2.25rem 4rem 2.25rem;
  }
  .reviews-section .heading-2 {
    font-size: 2rem;
    margin: 0 0 1.5rem 0;
  }
  .review-gallery {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }
  .review-item {
    height: max-content;
    padding: 1.25rem 1rem;
    width: 100%;
  }
  .review-item .section-paragraph {
    font-size: 0.9rem;
    margin: 0;
  }
}


/* BOOKING SECTION */

.booking-section {
  border-bottom: 0.125rem solid var(--color-black);
  text-align: center;
}

.booking-top {
  border-bottom: 0.125rem solid var(--color-black);
  padding: 4rem 6rem 3rem 6rem;
}

.booking-section .heading-2 {
  margin: 0 0 2rem 0;
}

.booking-middle {
  background: var(--color-pink);
  border-bottom: 0.125rem solid var(--color-black);
  height: 1.3rem;
}

.booking-bottom {
  padding: 2rem 6rem 2rem 6rem;
}

@media screen and (max-width: 800px) {
  .booking-top {
    padding: 3rem 2.25rem 1.5rem 2.25rem;
  }
  .booking-section .heading-2 {
    font-size: 2.25rem;
    margin: 0 0 1rem 0;
  }
  .booking-section .section-paragraph {
    margin: 1.5rem 0;
  }
  .booking-bottom {
    padding: 2rem 2.25rem 2rem 2.25rem;
  }
}


/* FOOTER */

.footer-banner {
  background: var(--color-dark-green);
  border-bottom: 0.125rem solid var(--color-black);
  height: 1.3rem;
}

.footer-section {
  align-items: flex-start;
  border-bottom: 0.125rem solid var(--color-black);
  display: flex;
  justify-content: space-between;
  padding: 2.25rem 3rem 2.25rem 3rem;
}

.footer-logo {
  font-size: 3rem;
}

.footer-details h4, .footer-socials h4 {
  font-size: 1.25rem;
  margin: 0 0 1.75rem 0;
}

.footer-links {
  align-items: center;
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
}

.footer-socials img {
  width: 1.5rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
