/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

:root {
  --color-beige: #F7EDE3;
  --color-black: #000;
  --color-pink: #F2BCC9;
}

body {
  background: 
}


/******************************************
/* LAYOUT
/*******************************************/
.navbar {}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
